body {
    margin: 0;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}
h2 {
    font-size: 22px;
    margin: 0px 10px 10px 0px;
}
h3 {
    margin: 0px 10px 5px 0px;
}
.home-body {
    display: flex;
    justify-content: center;
    margin: 0;
}
.home-image {
    align-self: center;
    width: 420px;
    height: 400px;
}
.home-wrapper {
    color: #fba8a4;
    display: flex;
    justify-content: center;
    padding: 20px;
}
.home {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    padding: 60px;
    max-width: 600px;
    border-radius: 20px;
    border: 1px solid #fba8a4;
    box-shadow: 5px 10px #fba8a4;
}
.home h1 {
    margin: 0px;
    font-family: "brush-script-std", sans-serif;
    font-weight: normal;
    font-size: 50px;
    letter-spacing: 4px;
}
.home h2 {
    margin: 20px 0px;
    font-family: "brush-script-std", sans-serif;
    font-weight: normal;
    font-size: 30px;
    letter-spacing: 2px;
    color: #3f3737;
}
.home button {
    color: #bdafe9;
    background-color: white;
    min-width: 200px;
    height: 40px;
    font-size: 25px;
    border-radius: 100px;
    border: 1px solid #dad2f3;
    letter-spacing: 1.5px;
    font-weight: bold;
    margin: 10px 0px;
    box-shadow: 5px 5px #dad2f3;
}
.home button:hover {
    background-color: #3c3161;
}
.home button:active {
    transform: translateY(4px);
}
#level-wrapper {
    display: none;
    flex-direction: column;
}
.error {
    display: none;
    color: red;
}
.game-body {
    display: none;
    flex-direction: column;
    align-items: center;
}
.game-wrapper {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 20px;
}
.game-header {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    color: #bdafe9;
    min-width: 700px;
}
.brain-img {
    width: 100px;
    height: 80px;
}
.header-info {
    display: flex;
    flex-direction: column;
}
.moves {
    display: flex;
}
#moves-value {
    color: #fba8a4;
}
.time-elapsed {
    display: flex;
}
#hr {
    color: #fba8a4;
}
#min {
    color: #fba8a4;
}
#sec {
    color: #fba8a4;
}
.score {
    display: flex;
}
.highest-score {
    display: flex;
}
#score-value {
    color: #fba8a4;
}
#current-highest {
    color: #fba8a4;
}
.grid-wrapper {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    max-width: 665px;
    margin: 30px 0px 0px 0px;
}
.grid {
    width: 115px;
    height: 115px;
    margin: 10px;
    background-image: linear-gradient(to bottom right,#dad2f3,#fba8a4) !important;
    border-radius: 10px;
    box-shadow: 5px 5px #dad2f3;
    transition: transform 0.5s;
}
.grid-visible {
    width: 115px;
    height: 115px;
    margin: 10px;
    background-position: center;
    background-repeat: no-repeat;
    background-size: 80px 80px;
    border: 2px solid #dad2f3;
    box-shadow: 5px 5px #dad2f3;
    border-radius: 10px;
}
.btn-wrapper {
    display: flex;
    justify-content: space-between;
}
.btn {
    margin-top: 40px;
    color: #bdafe9;
    background-color: white;
    min-width: 160px;
    height: 40px;
    font-size: 22px;
    border-radius: 100px;
    border: transparent;
    letter-spacing: 1.5px;
    font-weight: bold;
    border: 1px solid #dad2f3;
    box-shadow: 5px 5px #dad2f3;
    padding: 5px;
}
.btn:hover {
    background-color: #3c3161;
}
.btn:active {
    transform: translateY(4px);
}
.btn-margin-right {
    margin-right: 25px;
}
.win-stats-wrapper {
    display: none;
    flex-direction: column;
    align-items: center;
    flex-wrap: wrap;
    padding: 40px;
}
.win-stats-wrapper h2 {
    color: #fba8a4;
    font-family: "brush-script-std", sans-serif;
    font-weight: normal;
    font-size: 50px;
    letter-spacing: 4px;
}
.win-stats-wrapper h3 {
    letter-spacing: 1px;
}
.win-stats {
    display: flex;
    flex-direction: column;
    align-items: center;
    border: 1px solid #fba8a4;
    box-shadow: 5px 10px #fba8a4;
    padding: 20px;
    border-radius: 20px;
    text-align: center;
}
.win-stats img {
    width: 300px;
    height: 300px;
}
#win-msg {
    color: #8271b9;
    font-family: "brush-script-std", sans-serif;
    font-weight: normal;
    font-size: 45px;
    letter-spacing: 2px;
}
.modal {
    color: #8271b9;
    background-color: white;
    display: none;
    flex-direction: column;
    align-items: center;
    align-self: center;
    border: 1px solid #dad2f3;
    box-shadow: 5px 5px #dad2f3;
    border-radius: 20px;
    max-width: 200px;
    padding: 20px;
    transform: translateY(-200%);
}
.modal h4 {
    margin: 0;
}
.modal h5 {
    margin: 12px 0px;
}
.yes-btn {
    color: green;
    background-color: white;
    min-width: 50px;
    height: 30px;
    font-size: 16px;
    border-radius: 20px;
    border: transparent;
    letter-spacing: 1.5px;
    font-weight: bold;
    border: 1px solid rgb(157, 226, 157);
    box-shadow: 2px 2px rgb(157, 226, 157);
}
.yes-btn:hover {
    background-color: rgb(187, 240, 187);
}
.yes-btn:active {
    transform: translateY(4px);
}
.no-btn {
    color: red;
    background-color: white;
    min-width: 50px;
    height: 30px;
    font-size: 16px;
    border-radius: 20px;
    border: transparent;
    letter-spacing: 1.5px;
    font-weight: bold;
    border: 1px solid rgb(228, 32, 32);
    box-shadow: 2px 2px rgb(228, 32, 32);
}
.no-btn:hover {
    background-color: rgb(231, 21, 21);
    color: white;
}
.no-btn:active {
    transform: translateY(4px);
}

@media screen and (max-width: 1200px) {
    .home-image {
        width: 450px;
        height: 430px;
    }
}

@media screen and (max-width: 900px) {
    .home-body {
        flex-direction: column;
    }
    .home-image {
        width: 200px;
        height: 180px;
    }
    .home {
        padding: 15px;
        border: 1px solid #fba8a4;
    }
    .home h1 {
        font-size: 45px;
    }
    .home h2 {
        font-size: 28px;
    }
    .home button {
        font-size: 22px;
    }
}

@media screen and (max-width: 700px) {
    .game-header {
        min-width: unset;
        flex-wrap: wrap;
    }
    .game-header h2 { 
        font-size: 16px;
    }
}

@media screen and (max-width: 600px) {
    .home-image {
        width: 180px;
        height: 160px;
    }
    .game-wrapper {
        align-items: flex-start;
        padding: 10px;
    }
    .game-header {
        min-width: unset;
        flex-direction: column;
        font-size: 20px;
        margin-left: 15px;
    }
    .game-header h2 {
        font-size: 14px;
    }
    .grid-wrapper {
        margin: unset;
        justify-content: flex-start;
    }
    .grid {
        width: 65px;
        height: 70px;
        margin: 8px;
    }
    .grid-visible {
        width: 65px;
        height: 70px;
        background-size: 40px 40px;
        margin: 8px;
    }
    .win-stats-wrapper {
        padding: 20px;
    }
    .win-stats-wrapper h2 {
        font-size: 33px;
        letter-spacing: 2px;
    }
    .win-stats-wrapper h3 {
        font-size: 16px;
        letter-spacing: 1px;
    }
    .btn-wrapper {
        align-self: center;
    }
    .btn {
        font-size: 14px;
        min-width: 100px;
        height: 35px;
        margin: 15px 15px 20px 0px;
    }
    .modal {
        transform: translateY(-280%);
    }
    .win-stats img {
        width: 200px;
        height: 200px;
    }
    #win-msg {
        font-size: 25px;
    }
}